django>=2.1.2
requests>=2.20.0
#jira>=0
psycopg2>=2.7
decorator>=4.3.0
psycopg2-binary>=2.7
pprint>=0
#jupyter>=1.0.0
#numpy>=1
#pandas>=0
#sklearn>=0
#scipy>=1
#matplotlib>=1
#tqdm>=1
#ipywidgets>=1
#seaborn>=0
#keras>=0
#tensorflow>=0
#celery>4.0
#django-celery>0
#celery-with-redis>0
djangorestframework>=3.9.0
rest-framework-cache>=0.1
markdown>0
django-filter>0
django-adminfilters>=1.0.0
django-ckeditor>=5.5.0
django-colorfield>=0.1.15
django-debug-toolbar>=1.9.1
django-js-asset>=1.1.0
#html2text>0
responses>=0
#selenium>0
django-mailbox>0
bumpversion>0
pillow>0
#croniter>0
cx_Oracle>0
filetype>0
unicodecsv>0
pika==0.12.0
robotframework-rabbitmq